.search-input {
    text-align: left;
    display: flex;
    align-items: center;
    background: #2f2f2f;
    border-radius: 8px;
    width: 400px;
    justify-content: space-between;
    padding: 10px;
  
    input {
      padding: 0 10px;
      width: 100%;
      color: white;
      background: transparent;
      border: none;
      outline: none;
    }
  }
  